#con{
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    
}
.choice{
    position: absolute;
    transform: translate(-50%,50%);
    width:40%;
    height: 50%;
    left: 50%;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.student{
    position: absolute;
    padding-left:20%;
    padding-right: 20%;
    padding-top: 3%;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.teacher{
    position: absolute;
    margin-left: 50%;
    padding-top: 3%;
    font-size: 30px;
    padding-left: 16.4%;
    padding-right: 18%;
    text-decoration: none;
    
}
.login{
    position: absolute;
    top:50%;
    left:30%;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: navy;
    color: white;
}
.teah{
    color: white;
    text-decoration: none;
}