@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@100&display=swap');
#frag2{
    background-image: none;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
}
.navig2{
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    width:100%;
    height:20%;
     
   background-color: MidnightBlue;


}
ul{
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    

}
li{
    
    position: relative;
    display: inline;

}
li img{
    float: left;
    width: 150px;
    border-radius: 50%;
    margin: 0;
    margin-top: 10px;
    
}
li .l1{
    
    position: absolute;
    text-decoration: none;
    color: white;
    
    margin-left: 950px;
    top:50px;
    font-size: 30px;
}
li .l2{
    position: absolute;
    margin-left: 1000px;
    
    text-decoration: none;
    padding: 50px;
    color: white;
    font-size: 30px;
    
}
.create{
   
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,50%);
    width: 80%;
    height: 20%;
    padding-top: 0%;
    padding-bottom: 10%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    
    border:1px solid white;
}
.ch{
    
    padding-left:40% ;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-right: 10%;
    background-color:MidnightBlue;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    
}
.i1{
    position: absolute;
    margin-left:10% ;
    margin-top: 5%;
    width: 80%;
    padding: 1%;
    background-color:whitesmoke;
    border: 1px solid white;

}
.exam{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,50%);
    width: 80%;
    height: 60%;
    padding-top: 0%;
    padding-bottom: 10%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    
    border:1px solid white; 
}
.ch1{
    
    padding-left:40% ;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-right: 10%;
    background-color:MidnightBlue;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    
}
.b1{
    position: absolute;
    margin-left:2% ;
    margin-top: 7%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;

}
.b2{
    position: absolute;
    margin-left:2% ;
    margin-top: 22%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;

}
.b3{
    position: absolute;
    margin-left:2% ;
    margin-top: 37%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;

}
.l11{
    position: absolute;
    margin-left:30% ;
    margin-top: 5%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;
}
.l21{
    position: absolute;
    margin-left:30% ;
    margin-top: 20%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;
}
.l31{
    position: absolute;
    margin-left:30% ;
    margin-top: 35%;
    width: 40%;
    padding: 1%;
    font-size: 30px;
    background-color:whitesmoke;
    border: 1px solid white;
}
.final{
    position: absolute;
    top:200%;
    left:50%;
    transform: translate(-50%,50%);
    margin-bottom: 10%;
   
}
.b6{
    padding-left:10% ;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-right: 10%;
    background-color:MidnightBlue;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    width: 100%;
    
}
.modal{
    
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
    
  }
  .modal .close {
    
    
    
    
    color:red;
    float: right;
    text-decoration:none;
    font-size: 50px;
    font-weight: bold;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }  
