.container1{
    background-image: none;
}
.navig{
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    width:100%;
    height:20%;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}
ul{
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    

}
li{
    
    position: relative;
    display: inline;

}
li img{
    float: left;
    width: 150px;
    border-radius: 50%;
    margin: 0;
    margin-top: 10px;
    
}
li .l1{
    
    position: absolute;
    text-decoration: none;
    color: white;
    
    margin-left: 950px;
    top:50px;
    font-size: 30px;
}
li .l2{
    position: absolute;
    margin-left: 1000px;
    
    text-decoration: none;
    padding: 50px;
    color: white;
    font-size: 30px;
    
}
